*{
    padding:0px;
    margin:0px;
}
main{
    height: 400px;
    width: 700px;
    border:1px solid green;
    margin: auto;
    margin-top: 30px;
    position: relative;
    overflow: hidden;
}
.slides{
    width: 100%;
    position: absolute;
    transition: 1s;
}
.button{
    margin-top: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 30px;
   
}